/*GLOBAL CUSTOM PROPERTIES*/
:root{
  --background-color: whitesmoke;
  --body-font: 'Archivo', sans-serif;
  --body-color: dimgray;
  --title-font: 'Domine', serif;
  --title-color: dodgerblue;
  --blog-font: 'Stardos Stencil', sans-serif;
  --blog-color:tomato;
  --gradient-color:goldenrod;
}
html{
  background-color:var(--background-color);
  height:100vh;
}
body{
  height:500vh;
}

h1{
  color:var(--blog-color);
  font-family:var(--blog-font);
  font-weight:300;
  text-align:center;
}

#output{
  padding: 1rem 0;
  color:var(--title-color);
  font-family:var(--title-font);
  font-weight:400;
  text-align:center;
}

canvas{
  position:fixed;
  display:inline;
  max-width: 100vw;
  max-height: 100vh;
}

#container{
  postion:sticky;
  max-width: 100vw;
  text-align:center;
  margin:auto;
}